/* -------- | CSS AMELIORE POUR LA LOGIQUE RESPONSIVE MOBILE FIRST */

/*_ 1. ---- | Reset CSS par défaut des navigateurs et CSS valable à l'ensemble de la page web */

    *{
        margin : 0;                                                 /* -- Reset des margins par défaut des navigateurs -- */
        padding: 0;                                                 /* -- Reset des paddings par défaut des navigateurs -- */
        box-sizing: border-box;                                     /* -- Reset des paddings par défaut des navigateurs -- */
        list-style: none;
        text-decoration: none;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        /* overflow-x: hidden; */
    }

    body {
        position: relative;
        overflow-x: hidden;
    }

/*_ 2. ---- | Visualisation des div */

    /* .outline-section{ outline : 1px solid purple; } */
    .outline-main{ outline : 1px solid yellow; }
    .flxwrpbd{border: 1px solid red}                             /* flex box de type de flow wrap */
    .flxwraprevbd{border: 1px solid red}                        /* flex box de type de flow wrap */


/*_ 3. ---- |  Stylisation de certains élements spécifique */

    .text-in-white{ color: white; }
    .text-in-black{ color: black; }
    .text-in-gray{ color: gray; }
    .text-in-bluegray{ color: #5d8aa8}

    .text-align{
        text-align: center;
    }

    .image-border{
        border : 10px solid white;
    }

/*_ 4. ---- |  Conteneurs main & flex commun*/
   
    .main-container{    
        position: relative;                                           /* Conteneur pour centrer tous les éléments au centre de la page en taille d'écran PC */
        width: 95vw;
        margin: auto;
    }                                                           

    #flx-contain-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #flx-contain-wraprev{
        
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .flex-item-row{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }


/*_ 5. ---- |  Header, NavBar, Burger button et Side-Menu */

    header{
        position : relative;
        background-image: url(./images/assets/bg01.jpg);
        padding: 1% 0%;
    }

    .flex-container-header{
        display: flex;
        flex-flow: row-reverse wrap;
        width: 100%;
        justify-content: flex-end;
    
    }

    .flex-container-header h1{
        font-size: 25px;
        margin: auto;
    }

    .navbar{
        display: none;
    }

    .hamburger{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 40px;
        height: 30px;
        cursor: pointer;
        background: none;
        border: 1px solid gray;
        border-radius: 20%;
    }

    .bar{
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color:  gray;

    }

    .side-menu{
        display : block;
        background-image: url(./images/assets/bg04.jpg);
        position: absolute;
        top: 0;
        left: -240px;
        z-index: 1;
        width: 240px;
        height: 100%;
        /* transition: all 300ms ease-in-out; */
        font-size : 20px;
        line-height: 310%;   
    }

    .side-menu ul li{
        border-bottom: 1px solid gray;
        width: 100%;
        padding: 0 20px;
    }

/*_ 6. ---- |  Section 1 */

    #section1{
        /* position : relative; */
        background-image: url(./images/assets/bg01.jpg);    
    }

    .image-banner{
        display: block;
        width: 100%;
        height: 100%;
        /* image-rendering: auto; */
    }

    .flex-container-section1{
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        padding : 10% 5%;
    }

    .flex-item-section1{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 6%;
        /* padding-bottom: 5%; */
        font-size: 14px;
        line-height: 170%;
        width: 100%;
    }

    .button-section1{
        display: block;
        background-color: red;
        color: white;
        font-size: 25px;
        border: none;
        /* width: 35%; */
        height: 50px;
        width: 100%;
        border-radius: 6px;
        margin-top : 6%;
        padding: 2% 2%;
    }

/*_ 7. ---- |  Section 2 */

    #section-2{
        position : relative;
        background-image: url(./images/assets/bg02.jpg);
        /* height: 400px; */
    }

    .flex-section2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10% 3%;
    }

    .flx-itm-sec2{
        position : relative;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        text-align: justify;
        width: 100%;
        margin-bottom: 5%;
    }

    .image-section2{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        /* height: 125px; */
    }

    .paragraphe-sec2{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        /* padding-bottom: 5%; */
        line-height: 170%;
        width: 100%;
    }

    .paragraphe-sec2 h3{
        font-size: 23px;
        margin-bottom : 10px;
    }

    .paragraphe-sec2 p{
        font-size: 18px;
        /* line-height: 150%; */
    }

/*_ 8. ---- |  Section 3 */

    .section-3{
        position : relative;
        background-image: url(./images/assets/bg04.png);
    }

    .flx-itm-sec3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        box-shadow: 5px 5px 5px gray;
        /* margin-top: 2%;
        margin-bottom: 2%; */
        /* padding-right: 5%;
        padding-left: 2%; */
        margin : 5% 3%;
        padding : 5% 5%;
        width: 100%;
    }

    .paragraphe-sec3{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
    }

    .paragraphe-sec3 h2{
        font-size : 24px;
        line-height: 170%;
    }

    .paragraphe-sec3 h3{
        font-size : 20px;
    }

    .paragraphe-sec3 p{
        font-size : 18px;
        line-height: 170%;
    }

    .sec3-card1-img{
        margin: 5% 0;
    }
        /* ---- Element de la deuxième carte de la section 3 ---- */

    .image-check{ 
        margin-right : 4%;
        margin-bottom: -1%;}

    .border-sec3{
        border-bottom: 1px solid gray;
    }

    .sec3-card-pad{
        padding: 5% 0;
    }

/*_ 9. ---- |  Section 4 */
    
    .section-4{
        position : relative;
        background-image: url(./images/assets/bg03.jpg);
    }

    .flex-section4{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 5% 0;
    }

    .paragraphe-sec4{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 170%;
        width: 100%;
        padding-right: 2%;
    }

    .paragraphe-sec4 p{
        font-size : 18px;
        line-height: 170%;
    }

    .paragraphe-sec4 li {
        font-size : 18px;
        line-height: 170%;
        text-decoration: auto;
        padding: 5% 0;
        border-bottom: 1px solid gray;
    }

    .flx-itm-sec4{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .section4-title{
        font-size: 25px;
        color: gray;
        padding-bottom : 4%;
    }

/*_ 10. ---- |  Footer */

    footer{
        position : relative;
        display: flex;
        align-content: center;
        background-image: url(./images/assets/bg03.jpg);
        height: 100px;
    }

/*_ 11. ---- |  Animation du Side-Menu */

    .transition-toright-body{
        transform: translateX(240px);
        transition: transform 1s; 
    }

    .transition-to0px-sidemenu{
        transform: translateX(0px);
        transition: transform 0s; 
    }

    .transition-to0px-body{
        transform: translateX(0px);
        transition: transform 1s; 
    }

    .transition-toleft-sidemenu{
        transform: translateX(-240px);
        transition: transform 1000s; 
    }


/*_ 12. ---- |  Gestion du responsive */

    /* La barre de scroll fausse la valeur à prendre en compte pour les pointbreaks depuis la console de debug, il ajouter 17px de plus (ex: breakpoint vu à 720px, paramétrer à 737px) */
    @media screen and (min-width: 737px){

        /* -- BODY -- */

        /* -- HEADER - NAV BAR -- */
 
        /* -- SECTION 1 -- */

        .flex-container-section1{
            padding : 5% 2%;
        }

        .flex-item-section1{
            align-items: center;
            font-size: 20px;
            margin-top : 5%;
        }

        .button-section1{
            width: 40%;
        }

        /* -- SECTION 2 -- */

        .flex-section2{
            padding: 5% 2%;
        }

        .flx-itm-sec2{
            /* display: flex;
            flex-direction: column; */
            /* justify-content: space-between; */
            text-align: justify;
            width: 48%;
            margin-bottom: 3%;
            /* margin-top : 2%;
            margin-bottom : 2%; */
        }

        .paragraphe-sec2 h3{
            font-size: 25px;
            line-height: 170%;
        }

        .paragraphe-sec2 p{
            font-size: 18px;
            line-height: 170%;
        }

        /* -- SECTION 3 -- */

        .larg45{
            width: 48%;
        }

        .flx-itm-sec3{
            display: flex;
            flex-direction: wrap;
            /* justify-content: space-between; */
            background-color: white;
            box-shadow: 5px 5px 5px gray;
            /* margin-top: 2%;
            margin-bottom: 2%; */
            /* padding-right: 5%;
            padding-left: 2%; */
            margin : 2% 0;
            padding : 5% 5%;
        }

        /* -- SECTION 4 -- */

        .larg25{
            width: 25%;
        }

    }

    @media screen and (min-width: 981px){

        /* -- BODY -- */

        body{
            left: 0px;
        }

        /* -- HEADER - NAV BAR -- */

        .transition-toright-body{
            transform: translateX(0px);
            transition: transform 0s;
        }
    
        .transition-to0px-sidemenu{
            transform: translateX(-240px);
            transition: transform 0s;
        }
    
        .side-menu{
            left: -240px;
            /* z-index: 0; */
        }


        .hamburger{
            display: none;
        }

        .navbar{
            display: block;
            width: 70%;
        }

        .flex-container-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .flex-navbar-list{
            display: flex;
            flex-flow: row wrap-reverse;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            outline: 1px solid blue;
        }

        .flex-container-header h1{
            margin: 0;
        }


        /* -- SECTION 1 -- */

        .flex-container-section1{
            position: relative;
            padding: 3% 0%;
        }

        .flex-item-section1{
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            line-height: 40px;
            font-size: 20px;
            width: 50%;
            height : 95%;
            margin-top: 0%;
        }

        .image-banner{
            display: block;
            width: 50%;
            height: 100%;
            /* image-rendering: auto; */
            /* height: 200px; */
        }

        .button-section1{
            width: 50%;
            padding: 0;
            margin-top: 50px;
            margin-bottom: 0;
        }


        /* -- SECTION 2 -- */

        .flex-section2{
            padding: 3% 0;
        }

        .flx-itm-sec2{
            /* display: flex; */
            /* flex-direction: column; */
            /* justify-content: space-evenly; */
            text-align: justify;
            width: 24%;
            height: auto;
            margin-bottom: 0;
        }


        /* -- SECTION 3 -- */

        .flx-itm-sec3{
            display : flex;
            flex-wrap: none;
            width: 32%;
            padding : 4% 3%;
        }

        /* -- SECTION 4 -- */

        .flex-section4{
            justify-content: space-between;
        }

        .flx-itm-sec4{
            width: 60%;
        }

        .paragraphe-sec4{
            width: 40%;
        }

        .larg25{
            width: 25%;
        }

}

    @media screen and (min-width: 1281px){

        .main-container{
            /* width: 1200px; */
            width: 65vw;
            margin: auto;
        }

        /* -- HEADER - NAV BAR -- */

            /* Changement de taille de police à coder */
        .flex-container-header h1{
            font-size: 40px;
        }

        /* -- SECTION 1 -- */
        .flex-item-section1{
            align-items: flex-start;
            font-size: 24px;
            width: 50%;
            height: 100%;
            margin-top: 0%;
        }

        .image-banner{
            display: block;
            width: 50%;
        }

        .button-section1{
            width: 50%;
            padding: none;
        }

        /* -- SECTION 4 -- */

        .flex-section4{
            justify-content: space-between;
        }


    }

